1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

In [1]:
def arithmetic_operation(string_num):
    
    operators = ['+', '-', '*', '//']                 
    string_num = string_num.replace(' ', '')
    
    for i in string_num:
        if i == '/':
            i = '//'
        if i in operators:
            n = string_num.split(i)
            if i == '+':
                return int(n[0]) + int(n[1])
            elif i == '-':
                return int(n[0]) - int(n[1])
            elif i == '*':
                return int(n[0]) * int(n[1])
            elif i == '//':
                if int(n[1]) == 0:
                    return -1
                return int(n[0]) // int(n[1])

In [2]:
arithmetic_operation("22 + 67")

89

In [3]:
arithmetic_operation("89 - 72")

17

In [4]:
arithmetic_operation("10 // 12")

0

In [5]:
arithmetic_operation("12 // 0")

-1

2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

In [6]:
import math

def distance(x1, y1, x2, y2):
    length = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
    return length

def perimeter(vertices):
    side1 = distance(vertices[0][0], vertices[0][1], vertices[1][0], vertices[1][1])
    side2 = distance(vertices[1][0], vertices[1][1], vertices[2][0], vertices[2][1])
    side3 = distance(vertices[2][0], vertices[2][1], vertices[0][0], vertices[0][1])
    
    return side1 + side2+ side3

In [7]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.07918859608948

In [8]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.414213562373095

In [9]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.2842712474619

3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

In [10]:
def tallest_skyscraper(l):
    
    tallest = 0
    
    for i in range(len(l[0])):
        current_height = 0
        for j in range(len(l)):
            current_height += l[j][i]
        
        if current_height >= tallest:
            tallest = current_height
            
    return tallest

In [11]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

3

In [12]:
tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

4

In [13]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
])

2

4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

In [14]:
def bonus(days):
    
    bonus = 0
    for i in range(days + 1):
        if i <= 32:
            continue
        if i > 32 and i <= 40:
            bonus += 325
        if i > 40 and i <= 48:
            bonus += 550
        if i > 48:
            bonus += 600
        
    return bonus

In [15]:
bonus(100)

38200

In [16]:
bonus(50)

8200

In [17]:
bonus(15)

0

5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

In [18]:
def is_disarium(num):
    
    temp = num
    total = 0
    itr = 1
    
    for i in str(num):
        total += int(i)**itr
        itr += 1
        
    return total == temp

In [19]:
is_disarium(500)

False

In [20]:
is_disarium(8)

True

In [21]:
is_disarium(51)

False

In [22]:
is_disarium(135)

True

In [23]:
is_disarium(466)

False

In [24]:
is_disarium(544)

False